@charset "UTF-8";

html{
  font-size: 100%;
}

body{
  /* background-color:#fee; */
  /* background-image: url(images/bg-airplane.jpg); */
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-size: contain; */
  /* background-position: top center; */
  background-position: 30px 80px;


}

h1 {
  color: #faa;
  font-size: 2rem;
  font-family: 'Itim',cursive;
}

h2 {
  font-size: 20px;
  color: navy;
  font-family: "Yu Gthic",YuGothic,sans-serif;
}

p {
  font-size:20px;
  color: {10,130,165,.5};
  font-family: "Hiragino Maru Gothic Pro",sans-serif;
  font-weight: bold;
  line-height: 1.7;
  text-align: justify;
  color: #999;
}

.blue{
  color: #0bd;
}

.small{
  font-size:80%;
}

#orange{
  color: #fa2;
}

p.pink{
  color:pink;
}

div#first{
  /* background: #70a2dc url(images/bg-airplane.jpg) no-repeat center bottom/cover; */
  background: #0bd;
  margin: 100px 0 0 80px;
  width:500px;
  height:300px;
}

div p{
  color:black;
  /* border-width: thick; */
  border-width: 4px 4px 8px 12px;
  /* border-style: solid; */
  /* border-style: dotted; */
  /* border-style: ridge; */
  border-style: outset;
  border-color: tomato;
  border-color: tan #0bd tomato #000;

  border: 5px dotted tomato
}

ul{
  list-style-image: url(images/star.png);
}

.pika{
  list-style-image: url(images/pika.png);
  margin: 10px 0 0 40px;
}
.iv{
  list-style-image: url(images/iv.png);
  margin: 10px 0 0 40px;
}


div#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 20vh;
  justify-content: space-around;
  /* flex-direction: row-reverse; */
}

.item{
  background: #0bd;
  color: #fff;
  margin: auto;
  padding: 10px;
  width: 30px;
  height: 30px;
}

div#container2{

  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 20vh;
  margin: 10px;
}

.item2{
  background: #0bd;
  color: #fff;
  margin: 20px;
  padding: 20px;
}

div#container3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-rows: 150px 50px 100px; /* 適応する行ごとに設定できる*/
}

.item3{
  background: #0bd;
  color: #fff;
  padding: 10px;
}
